<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels info</title>
</head>
    <form>
     <input type="button" value="Go back" onclick="history.back()">
    </form>

   <body>
   <h2>Information about the program- </h2>
   <td>The program compares hotel prices between hotel booking sites by city name and date of stay at the hotel. <br>
   The program exports an interactive map where you can see the search results, and saves the map locally on your computer and in your S3.</td>
   </body>

</html>